@import './mixins';
@import './variables';

.social {
  @include ulres;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item+.social__item {
  margin-left: 30px;
}

.social__link {
  transition: $transition;
  color: #D9D9D9;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}
